@keyframes rotating {
    0% {
        transform: rotateY(0deg);
    }

    15% {
        transform: rotateY(-90deg);
    }

    30% {
        transform: rotateY(-180deg);
    }

    45% {
        transform: rotateY(-270deg);
    }

    60% {
        transform: rotateX(-90deg);
    }

    75% {
        transform: rotateX(90deg);
    }
}
