@import url("./css/variables.css");
@import url("./css/animation.css");
@import url("./css/setup.css");

.box>div {
    height: 100%;
    width: 100%;
    border: var(--border-size) solid var(--border-clr);
    box-sizing: border-box;
    position: absolute;
    transition: all 1s;
    background: var(--bg-gradient) center center;
    background-size: cover;
}

#front {
    transform: translateZ(calc(var(--box-size) / 2)) rotateY(0deg);
    background-image: var(--front-image-url);
}

#back {
    transform: translateZ(calc(var(--box-size) / 2 * -1)) rotateY(0deg);
    background-image: var(--back-image-url);
}

#left {
    transform: translateX(calc(var(--box-size) / 2 * -1)) rotateY(-90deg);
    background-image: var(--left-image-url);
}

#right {
    transform: translateX(calc(var(--box-size) / 2)) rotateY(90deg);
    background-image: var(--right-image-url);
}

#top {
    transform: translateY(calc(var(--box-size) / 2 * -1)) rotateX(90deg);
    background-image: var(--top-image-url);
}

#bottom {
    transform: translateY(calc(var(--box-size) / 2)) rotateX(-90deg);
    background-image: var(--bottom-image-url);
}

.box:hover {
    animation-play-state: paused;
}

.box:hover #front {
    transform: translateZ(var(--movement_onfocus));
}

.box:hover #back {
    transform: translateZ(calc(var(--movement_onfocus) * -1));
}

.box:hover #right {
    transform: translateX(var(--movement_onfocus)) rotateY(var(--rotate_onfocus));
}

.box:hover #left {
    transform: translateX(calc(var(--movement_onfocus) * -1)) rotateY(calc(var(--rotate_onfocus) * -1));
}

.box:hover #top {
    transform: translateY(calc(var(--movement_onfocus) * -1)) rotateX(calc(var(--rotate_onfocus)));
}

.box:hover #bottom {
    transform: translateY(var(--movement_onfocus)) rotateX(calc(var(--rotate_onfocus) * -1));
}
